.app {
  display: flex;
  justify-content: center;
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.5 0;
}

.difficulty {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.game-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letter-code {
  text-align: center;
  font-size: 50pt;
}

.board {
  align-self: stretch;
  margin-top: 5%;
}

.board ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0;
}

.letter-key {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
}

.success {
  color: green;
}

.fail {
  color: red;
}

.letter-key span {
  width: 1.5em;
}
